<main id="hero-details-container">
    <article *ngIf="hero" id="hero-details-section">
        <h2>{{ hero.name | uppercase }} Details</h2>

        <p>id: {{ hero.id }}</p>

        <section class="app-hero-detail">
            <label for="hero-name">Hero name: </label>
            <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
        </section>
        
        <section>
            <button type="button" (click)="goBack()" id="back">Back</button>
            <button type="button" (click)="save()">Save</button>
        </section>
    </article>
</main>


