<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tour Of Heroes</title>
</head>
<body>
  
  <h1>{{title}}</h1>

  <nav>
    <a routerLink="/dashboard" (click)="setActive('dashboard')" [class.active]="activeAnchor==='dashboard'" class="anchors">Dashboard</a>
    <a routerLink="/heroes" (click)="setActive('heroes')" [class.active]="activeAnchor==='heroes'" class="anchors">Heroes</a>
  </nav>

  <router-outlet></router-outlet>
  <app-messages></app-messages>

</body>
</html>